.container {
	width: 410px;
	height: 830px;
	background-color: #d3d3d345;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

}
.circle {
	background-color: #d3d3d3;
	width: 60px;
	height: 60px;
	border-radius: 30px;
}
#top {
	position: absolute;
	margin-top: -745px; /* 다른 요소에 새로운 값을 줄 때마다 왜 margin-top에 영향이 있는 거지??*/
	margin-left: 370px;
	background-color: #d3d3d3d1;
} 
#bottom {
	position: absolute;
	bottom: 45px;
	margin-left: 40px;
	background-color: #d3d3d3d1;
}
#sweety {
	position: absolute;
	bottom: 53px;
	margin-left: 70px;
	font-size: 40px;
	font-weight: 700;
	color: #23c564;
}
.frame_box {
	width: 94%;
	height: 230px;

	margin-left: auto;
	margin-right: auto;
	display: flex;
}
#frame1 {
	background-color: rgba(122, 228, 253, 0.22);
	width: 59%;
	height: 230px;

}
#frame2 { 
	background-color: rgba(122, 228, 253, 0.22);
	width: 39%;
	margin-left: 10px;
 }
 h1 {
 	padding-top: 25px;
 	margin-left: 5px;
 	font-size: 27px;
 	font-weight: 300;
 }
 p {
 	
 	width: 90%;
 	margin-left: 12px;
 	margin-top: 50px;
 	font-size: 15px;

 }
.span {
	width: 115px;
	
	font-size: 12px;
	margin-left: 280px;
	margin-top: 120px;
}
/*HBD Sweety♡
8월에는 영은이 생일이지 
항상 기억하고 염두해두고 있어 ^^ 
내년에는 완전한 코딩 생일카드로 축하하고 싶다 영은아 ^^*
(원래 하고 싶던 생일카드는 코딩으로 완성된 축하카드였는데  
내 pc랑 영은이 폰화면이랑 화면이 달라서 1차 코딩카드는 캡쳐로 할게.. )
이번에는 스위리가 코딩 공부도 할겸해서 지금 축하말을 html문서에 숨겨놓을까 해^^* 
공부를 하다 이 문장을 발견하고 즐거워했음 좋겠다^^ㅎ
이렇게 하니까 옛날 시대에서 통신 주고받는 거 같다 영으낭 
뭐 이미 8월 되기 전부터 영은이는 8월 30일 전날 같았지만
오늘은 명백한 8월 30일이니 스위리 맘껏 행복해했음 좋겠당 ^^
스위리 생일 축하행♡*/
